<div class="todoapp">
     <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="text-align: center;">To Do App</mat-card-title>
        <mat-card-subtitle>
          “Each day I will accomplish one thing on my to do list.”
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="center" style="width: 150px;" src="../../../assets/note_pad.png" alt="To do list">
      <!-- <img mat-card-image class="center" style="width: 150px;" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Angular Logo"> -->
      <mat-card-content>
        
      </mat-card-content>
      
      <mat-card-actions style="text-align: center;" >
        <button mat-raised-button color="primary" (click)= "onCreateToDoListClick()">Create Todos</button>
      </mat-card-actions>
    </mat-card>
  
  </div> 
